body{
    margin: 0;
    padding: 0;
    background:#ccc;
    font-family: sans-serif;
}
.container{
    width: 100%;
    text-align: center;

}
#title{
    text-align: center;
    font-size: 50px;
    color: red;
}
#inputText{
    width: 300px;
    height: 46px;
    border: 1px solid rgb(236, 26, 26);
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 3px solid orange;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}
#addToDo{
    height: 45px;
}


